body {
    font-family: 'Arial', sans-serif;
    background-color: #e4e9f7;
    margin: 0;
    padding: 20px;
}

#search-section {
    text-align: center;
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.weather-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#current-weather,
#forecast-weather,
#search-history {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#current-weather {
    flex: 10;
    /* Ocupa más espacio */
}

#forecast-weather,
#search-history {
    flex: 1;
    /* Ocupan menos, igual espacio entre ellos */
    width: calc(50% - 10px);
    /* Ajusta el ancho para que quepan en la misma línea, ajustando el margen como sea necesario */
    margin-top: 20px;
}

/* Ajuste opcional para responsividad */
@media (max-width: 768px) {
    .weather-dashboard {
        flex-direction: column;
    }

    #forecast-weather,
    #search-history {
        width: 100%;
        /* Ocupan todo el ancho en pantallas pequeñas */
    }
}

h2 {
    color: #333;
}

.weather-item,
.forecast-item {
    margin: 10px 0;
}

.forecast-item {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    width: 18%;
    margin-right: 2%;
    text-align: center;
}

.forecast-item:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .forecast-item {
        width: 48%;
        margin-bottom: 20px;
    }
}

.min-100-vh {
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.p-5 {
    padding: .900rem;
}

.text-white {
    color: #ffffff;
}

.bg-primary {
    background-color: #4629b8;
}

.search {
    text-align: left;
    color: #333;
    font-size: 10px;

}